body {
  background-color: #252526;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 37.5rem;
  padding: 20px;
  background-color: #171718;
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

.checkbox__text {
  font-size: 4rem;
  color: #fff;
}

.checkbox__container {
  display: flex;
  align-items: center;
  width: 250px;
}

.text {
  color: #fff;
  font-size: 2rem;
  padding-left: 15px;
}

input[type="checkbox"] {
  display: none;
}

label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

label::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.label-checkbox {
  transition: background-color 0.3s;
}

#quality-checkbox:checked + .quality-checkbox {
  background-color: rgb(241, 156, 156);
  transition: background-color 0.3s;
}

#quality-checkbox + label::before {
  background-color: rgb(168, 129, 129);
  transition: background-color 0.3s;
}

#quality-checkbox:checked + label::before {
  transform: translateX(30px);
  background-color: rgb(223, 67, 67);
  transition: transform 0.3s, background-color 0.3s;
}

#quality-checkbox:not(:checked) + label::before {
  transform: translateX(0);
  transition: transform 0.3s, background-color 0.3s;
}

#speed-checkbox:checked + .speed-checkbox {
  background-color: rgb(237, 241, 156);
  transition: background-color 0.3s;
}

#speed-checkbox + label::before {
  background-color: rgb(163, 168, 129);
  transition: background-color 0.3s;
}

#speed-checkbox:checked + label::before {
  transform: translateX(30px);
  background-color: rgb(141, 152, 46);
  transition: transform 0.3s, background-color 0.3s;
}

#speed-checkbox:not(:checked) + label::before {
  transform: translateX(0);
  transition: transform 0.3s, background-color 0.3s;
}

#cheap-checkbox:checked + .cheap-checkbox {
  background-color: rgb(181, 241, 156);
  transition: background-color 0.3s;
}

#cheap-checkbox + label::before {
  background-color: rgb(129, 168, 129);
  transition: background-color 0.3s;
}

#cheap-checkbox:checked + label::before {
  transform: translateX(30px);
  background-color: rgb(46, 152, 51);
  transition: transform 0.3s, background-color 0.3s;
}

#cheap-checkbox:not(:checked) + label::before {
  transform: translateX(0);
  transition: transform 0.3s, background-color 0.3s;
}

@media (max-width: 600px) {
  .checkbox__container {
    width: 86%;
  }

  .text {
    font-size: 2.6rem;
  }

  label {
    width: 80px;
    height: 45px;
  }

  label::before {
    top: 8px;
    width: 30px;
    height: 30px;
  }

  #quality-checkbox:checked + label::before {
    transform: translateX(40px);
  }

  #speed-checkbox:checked + label::before {
    transform: translateX(40px);
  }

  #cheap-checkbox:checked + label::before {
    transform: translateX(40px);
  }
}

@media (max-width: 400px) {
  .checkbox__container {
    width: 100%;
  }
}
